In [26]:
import csv
filePath = "finalhousing.csv"
writePath = "finalhousingprice.csv"
csv_file = csv.reader(open(filePath,'r'))
data_info = next(csv_file)
ntaname_1List = []
lineList = []
i=1

In [52]:
for line in csv_file:
    ntaname_1List.append(line[9])
    lineList.append(line)
ntaname_1List = sorted(set(ntaname_1List))
infoList = []
for ntaname_1 in ntaname_1List:
    price= 0
    tot_sqft = 1
    average=0
    info = {}
    for line in lineList:
        if line[9] == ntaname_1 and line[0] != "":
            price = price + int(line[2])
            tot_sqft = tot_sqft + int(line[1])
            tot_sqft=tot_sqft-1
    try:
        average=price/tot_sqft
    except:
        average=0
    info["ntaname_1"] = ntaname_1
    info["price"] = price
    info["tot_sqft"] = tot_sqft
    info["average"] = average
    infoList.append(info)
with open(writePath,"w+",newline='') as f:
    csv_writer = csv.writer(f)
    csv_writer.writerow(["ntaname_1","tot_sqft","price","average"])
    for info in infoList:
        i = []
        for k,v in info.items():
            i.append(str(v))
        csv_writer.writerow(i)

bronxnumberdf.to_csv("allhousing.csv",index=True ,sep=',')
brooklynnumberdf.to_csv('test.csv', mode='a', header=False)
manhattannumberdf.to_csv('test.csv', mode='a', header=False)
queensnumberdf.to_csv('test.csv', mode='a', header=False)
statenislandnumberdf.to_csv('test.csv', mode='a', header=False)

file1=open("bronxsum.csv")
file2=open("brooklynsum.csv")
file3=open("manhattansum.csv")
file4=open("queenssum.csv")
file5=open("statensum.csv")
file6=csv.writer(open("allhousing.csv","w"))

In [31]:
import pandas as pd
bronx = pd.read_csv('bronxsum.csv',index_col=0) 
brooklyn = pd.read_csv('brooklynsum.csv',index_col=0)
manhattan = pd.read_csv('manhattansum.csv',index_col=0)
queens = pd.read_csv('queenssum.csv',index_col=0) 
staten = pd.read_csv('statensum.csv',index_col=0)

In [30]:
bronx

                            tot_sqft    price     average
nbhd
BATHGATE                    60755788   335332  181.181003
BAYCHESTER                  96097754   477292  201.339545
BEDFORD PARK/NORWOOD       218561451  1280453  170.690725
BELMONT                     81404435   374883  217.146243
BRONX PARK                   1072307     3897  275.162176
BRONX-UNKNOWN                      0        1    0.000000
BRONXDALE                  162867981   840066  193.875221
CASTLE HILL/UNIONPORT      109904614   667851  164.564572
CITY ISLAND                 27100364    78565  344.941946
CITY ISLAND-PELHAM STRIP     1827777     5499  332.383524
CO-OP CITY                    850000     5900  144.067797
COUNTRY CLUB                49296283   184696  266.904984
CROTONA PARK                22468751   209541  107.228423
EAST TREMONT               141268708   908535  155.490661
FIELDSTON                   31707915   109331  290.017607
FORDHAM                    162157776   895486  181.083541
HIGHBRIDGE/MORRIS HEIGHTS  160334029  1005673  159.429585
HUNTS POINT                 63529495   347402  182.870263
KINGSBRIDGE HTS/UNIV HTS   165000721  2299158   71.765716
KINGSBRIDGE/JEROME PARK    288312513   743088  387.992422
MELROSE/CONCOURSE          201259827  1228438  163.833931
MORRIS PARK/VAN NEST       172666309  1585849  108.879413
MORRISANIA/LONGWOOD        225108703  1573459  143.066138
MOTT HAVEN/PORT MORRIS     198477024   939618  211.231611
MOUNT HOPE/MOUNT EDEN      243905665  1573166  155.041277
PARKCHESTER                 87987380   284014  309.799447
PELHAM GARDENS              16473300    69712  236.305084
PELHAM PARKWAY NORTH        36975716   172483  214.373103
PELHAM PARKWAY SOUTH       297741138  1752494  169.895668
RIVERDALE                  358096347   831650  430.585399
SCHUYLERVILLE/PELHAM BAY   114857960   421026  272.804910
SOUNDVIEW                  155128116   880587  176.164440
THROGS NECK                 87455789   334286  261.619658
VAN CORTLANDT PARK           1281644     5997  213.714190
WAKEFIELD                   96649023   513870  188.080688
WESTCHESTER                 80963056   435271  186.006088
WILLIAMSBRIDGE             167486049   829883  201.818870
WOODLAWN                    26207897   125701  208.493942

bronxdf= pd.DataFrame(bronx)
brooklyndf= pd.DataFrame(brooklyn)
manhattandf= pd.DataFrame(manhattan)
queensdf= pd.DataFrame(queens)
statendf= pd.DataFrame(staten)

In [33]:
bronxdf

                            tot_sqft    price     average
nbhd
BATHGATE                    60755788   335332  181.181003
BAYCHESTER                  96097754   477292  201.339545
BEDFORD PARK/NORWOOD       218561451  1280453  170.690725
BELMONT                     81404435   374883  217.146243
BRONX PARK                   1072307     3897  275.162176
BRONX-UNKNOWN                      0        1    0.000000
BRONXDALE                  162867981   840066  193.875221
CASTLE HILL/UNIONPORT      109904614   667851  164.564572
CITY ISLAND                 27100364    78565  344.941946
CITY ISLAND-PELHAM STRIP     1827777     5499  332.383524
CO-OP CITY                    850000     5900  144.067797
COUNTRY CLUB                49296283   184696  266.904984
CROTONA PARK                22468751   209541  107.228423
EAST TREMONT               141268708   908535  155.490661
FIELDSTON                   31707915   109331  290.017607
FORDHAM                    162157776   895486  181.083541
HIGHBRIDGE/MORRIS HEIGHTS  160334029  1005673  159.429585
HUNTS POINT                 63529495   347402  182.870263
KINGSBRIDGE HTS/UNIV HTS   165000721  2299158   71.765716
KINGSBRIDGE/JEROME PARK    288312513   743088  387.992422
MELROSE/CONCOURSE          201259827  1228438  163.833931
MORRIS PARK/VAN NEST       172666309  1585849  108.879413
MORRISANIA/LONGWOOD        225108703  1573459  143.066138
MOTT HAVEN/PORT MORRIS     198477024   939618  211.231611
MOUNT HOPE/MOUNT EDEN      243905665  1573166  155.041277
PARKCHESTER                 87987380   284014  309.799447
PELHAM GARDENS              16473300    69712  236.305084
PELHAM PARKWAY NORTH        36975716   172483  214.373103
PELHAM PARKWAY SOUTH       297741138  1752494  169.895668
RIVERDALE                  358096347   831650  430.585399
SCHUYLERVILLE/PELHAM BAY   114857960   421026  272.804910
SOUNDVIEW                  155128116   880587  176.164440
THROGS NECK                 87455789   334286  261.619658
VAN CORTLANDT PARK           1281644     5997  213.714190
WAKEFIELD                   96649023   513870  188.080688
WESTCHESTER                 80963056   435271  186.006088
WILLIAMSBRIDGE             167486049   829883  201.818870
WOODLAWN                    26207897   125701  208.493942

In [34]:
bronxdf.to_csv("allhousing.csv",index=True ,sep=',')
brooklyndf.to_csv('allhousing.csv', mode='a', header=False)
manhattandf.to_csv('allhousing.csv', mode='a', header=False)
queensdf.to_csv('allhousing.csv', mode='a', header=False)
statendf.to_csv('allhousing.csv', mode='a', header=False)