In [1]:
import pandas as pd
higharibnb = pd.read_csv('highentire.csv')  # 读取训练数据

In [2]:
#prepare for replace
higharibnb = pd.read_csv('highentire.csv')  # 读取训练数据
number=higharibnb.groupby('ntaname_1').size()
numberdf= pd.DataFrame(number)
numberdf.columns = ['number']
numberdf.to_csv("highentirenumber.csv",index=True ,sep=',')

In [2]:
number=higharibnb.groupby('ntaname_1').size()

In [3]:
number.head()

ntaname_1
Allerton-Pelham Gardens                        15
Annadale-Huguenot-Prince's Bay-Eltingville      2
Astoria                                       109
Auburndale                                      3
Baisley Park                                   33
dtype: int64

In [4]:
type(number)

pandas.core.series.Series

In [5]:
number.describe()

count    175.000000
mean      40.822857
std       63.291040
min        1.000000
25%        4.000000
50%       14.000000
75%       54.000000
max      444.000000
dtype: float64

In [7]:
numberdf= pd.DataFrame(number)

In [8]:
numberdf.columns = ['number']
numberdf.head()

                                            number
ntaname_1
Allerton-Pelham Gardens                         15
Annadale-Huguenot-Prince's Bay-Eltingville       2
Astoria                                        109
Auburndale                                       3
Baisley Park                                    33

In [9]:
numberdf.to_csv("higharibnbnumber.csv",index=True ,sep=',')

In [9]:
brooklyn = pd.read_csv('brooklyn.csv')  # 读取训练数据

In [10]:
brooklynnumber=brooklyn.groupby('neighbourhood').size()

In [11]:
brooklynnumberdf= pd.DataFrame(brooklynnumber)
brooklynnumberdf.columns = ['number']
brooklynnumberdf.to_csv("brooklynnumber.csv",index=True ,sep=',')

In [12]:
manhattan = pd.read_csv('manhattan.csv')  # 读取训练数据

In [13]:
manhattannumber=manhattan.groupby('neighbourhood').size()

In [14]:
manhattannumberdf= pd.DataFrame(manhattannumber)
manhattannumberdf.columns = ['number']
manhattannumberdf.to_csv("manhattannumber.csv",index=True ,sep=',')

In [15]:
queens = pd.read_csv('queens.csv')  # 读取训练数据

In [16]:
queensnumber=queens.groupby('neighbourhood').size()

In [17]:
queensnumberdf= pd.DataFrame(queensnumber)
queensnumberdf.columns = ['number']
queensnumberdf.to_csv("queensnumber.csv",index=True ,sep=',')

In [18]:
staten_island = pd.read_csv('staten island.csv')  # 读取训练数据

In [19]:
statenislandnumber=staten_island.groupby('neighbourhood').size()

In [20]:
statenislandnumberdf= pd.DataFrame(statenislandnumber)
statenislandnumberdf.columns = ['number']
statenislandnumberdf.to_csv("statenislandnumber.csv",index=True ,sep=',')

In [21]:
bronxnumberdf.to_csv("test.csv",index=True ,sep=',')
brooklynnumberdf.to_csv('test.csv', mode='a', header=False)
manhattannumberdf.to_csv('test.csv', mode='a', header=False)
queensnumberdf.to_csv('test.csv', mode='a', header=False)
statenislandnumberdf.to_csv('test.csv', mode='a', header=False)

In [22]:
neighbourhood= pd.read_csv('neighbourhood.csv')

In [43]:
bronxhousing= pd.read_csv('bronxhousing.csv')  
brooklynhousing= pd.read_csv('brooklynhousing.csv')  
manhattanhousing= pd.read_csv('manhattanhousing.csv')  
queenshousing= pd.read_csv('queenshousing.csv')  
statenhousing= pd.read_csv('statenhousing.csv')

In [44]:
import numpy as np
cleanbronxhousing=bronxhousing[bronxhousing.usable!='N']
cleanbrooklynhousing=brooklynhousing[brooklynhousing.usable!='N']
cleanmanhattanhousing=manhattanhousing[manhattanhousing.usable!='N']
cleanqueenshousing=queenshousing[queenshousing.usable!='N']
cleanstatenhousing=statenhousing[statenhousing.usable!='N']

calculate

In [42]:
a1=sum(cleanbronxhousing['price'])
b1=sum(cleanbronxhousing['tot_sqft'])
bronxpriceavg=a1/b1
bronxpriceavg

181.3558999518794

In [46]:
a2=sum(cleanbrooklynhousing['price'])
b2=sum(cleanbrooklynhousing['tot_sqft'])
brooklynpriceavg=a2/b2
brooklynpriceavg

496.9076904469607

In [47]:
a3=sum(cleanmanhattanhousing['price'])
b3=sum(cleanmanhattanhousing['tot_sqft'])
manhattanpriceavg=a3/b3
manhattanpriceavg

484.9780886359579

In [48]:
a4=sum(cleanqueenshousing['price'])
b4=sum(cleanqueenshousing['tot_sqft'])
queenspriceavg=a4/b4
queenspriceavg

428.7121248160824

In [49]:
a5=sum(cleanstatenhousing['price'])
b5=sum(cleanstatenhousing['tot_sqft'])
statenpriceavg=a5/b5
statenpriceavg

266.2753055930986

In [ ]:
haha=bronx.groupby('nbhd').size()

In [51]:
bronxhousing['nbhd'].describe()

count          6291
unique           38
top       RIVERDALE
freq            640
Name: nbhd, dtype: object

In [52]:
brooklynhousing['nbhd'].describe()

count                  23337
unique                    61
top       BEDFORD STUYVESANT
freq                    1765
Name: nbhd, dtype: object

In [53]:
manhattanhousing['nbhd'].describe()

count            23757
unique              39
top       MIDTOWN WEST
freq              4928
Name: nbhd, dtype: object

In [54]:
queenshousing['nbhd'].describe()

count              24561
unique                61
top       FLUSHING-NORTH
freq                2484
Name: nbhd, dtype: object

In [61]:
statenhousing['nbhd'].describe()

count            6822
unique             57
top       GREAT KILLS
freq              553
Name: nbhd, dtype: object

In [62]:
bronxhousing.head()

,Sale_id,bbl_id,year,borough,nbhd,bldg_ctgy,tax_cls_p,block,lot,easmnt,...,yr_built,tax_cls_s,bldg_cls_s,sale_date,price,usable,long,lat,georesult,message
0,1,2290528,2015,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,2905,28,NaN,...,1899,1,A9,08/07/2015,0,N,-73.901338,40.841229,Address Match,NaN
1,2,2290528,2015,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,2905,28,NaN,...,1899,1,A9,08/07/2015,0,N,-73.901338,40.841229,Address Match,NaN
2,3,230352,2015,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3035,2,NaN,...,1899,1,S1,12/18/2015,0,N,-73.898331,40.848648,Address Match,NaN
3,4,2303936,2015,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3039,36,NaN,...,1910,1,S1,08/18/2015,0,N,-73.893338,40.856136,Address Match,NaN
4,5,2303936,2015,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3039,36,NaN,...,1910,1,S1,07/01/2015,400000,Y,-73.893338,40.856136,Address Match,NaN